.container {
    width: 700px;
    margin: 0 auto;
}
.containerDefault {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
}
input {
    width: 40px;
    border-color:blue;
    margin-bottom: 5px;
}
p {
    margin-bottom: 5px;
}